html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 60px;
    background: url(../img/background.jpg) no-repeat center top;
    background-size: cover;
    font-family: 'Sans Serif';
    height: 100vh;
}

.box h1{
    text-align:center;
}

.box a{
    text-decoration:none;
    color:white;
}

.create-box {
    align-items:center;
    justify-content:center;
}

.campo{
    color:white;
}
.campo input {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
}

footer .footer-text{
    color:white;
    text-align: right;
}