@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<link rel="stylesheet" href="/css/Style.css" />

 
<div class="login-box">

    <img class="avatar" src="img/logodia.jpeg" alt="logo de diabecheck" />
    <h1 class="display-4">Diabecheck</h1>

    <form method="post" onsubmit="return validateForm()" action="/Auth/Login">
       
        <!--Usuario-->
        <div class="mb-3">
            <label for="email" class="form-label">Usuario</label>
            <input type="text" class="form-control" placeholder="Correo Electronico" id="email" name="email" aria-describedby="emailHelp">
        </div>
        <!--Contraseña-->
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="contraseña" placeholder="Contraseña">
        </div>

        <div class="btn">
            <button type="submit" class="btn btn-primary" value="Log in">Entrar</button>
            <button type="submit" class="btn btn-primary" asp-controller="Pacientes" asp-action="Create">Registrarse</button>
        </div>
    </form>
    <div id="error-message" class="alert alert-danger" style="display: none;"></div>

</div>


<script>
    function validateForm() {
        var username = document.getElementById("email").value;
        var password = document.getElementById("password").value;

        if (username === "" || password === "") {
            document.getElementById("error-message").innerText = "Por favor, completa todos los campos.";
            document.getElementById("error-message").style.display = "block";
            document.getElementById("error-message").style.color = "red";
            document.getElementById("error-message").style.fontWeight = "bold";
            return false;
        }

        return true;
    }
</script>
