@{
    ViewData["Title"] = "Home Page";
   
}



<div class="login-box">

    <img class="avatar" src="img/logodia.jpeg" alt="logo de diabecheck" />
    <h1 class="display-4">Diabecheck</h1>
    
    <form method="post" action="/Auth/Login">
        <div class="mb-3">
            <!--Usuario-->
            <label for="email" class="form-label">Usuario</label>
            <input type="text" class="form-control" placeholder="Correo Electronico" id="email" name="email" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <!--Contraseña-->
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="contraseña" placeholder="Contraseña" id="password">
        </div>
        <div class="btn">
            <button type="submit" class="btn btn-primary" value="Log in" onclick="validarUsuario()">Entrar</button>
            <button type="submit" class="btn btn-primary" asp-controller="Pacientes" asp-action="Create">Registrarse</button>
        </div>
    </form>
</div>
