@{
    ViewData["Title"] = "Nosotros";
}
<h1>@ViewData["Title"]</h1>
<h2>Quienes somos</h2>
<p>Somos estudiantes de la materia Practica Profesional III. Nos encontramos realizado una aplicación web.</p>
